@import url("./variables.css");
@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-semilight;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-mediumWd;
    }
}

.button {
    transition: all ease 0.2s;
}

.button:active {
    transform: translateY(2px);
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.lock-scroll-y {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.is-clickable > *:not(button) {
    pointer-events: none;
}

.active-clickable {
    position: relative !important;
}

.active-clickable::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: 1s slidein;
    background-color: #fddd0a38;
    border: solid 7px #fddd0a00;
    outline: 1px solid #fddd0a;
    background-blend-mode: difference;
    margin: auto;
    opacity: 0;
    z-index: 20;
    top: -7px;
    left: -7px;
    box-sizing: content-box;
}

.holder {
    cursor: pointer;
}

.holder:not(.active-point) .progress-bar {
    opacity: 0;
    transform: translateX(-100%) !important;
}


.progress-bar{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(var(--blue-dark));
    z-index: 0;
}

.active-point > .progress-bar {
    opacity: 1;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
