:root {
    --black: 0 0 0; /*rgb(0 0 0)*/
    --black-dark: 13 15 18; /*rgb(13 15 18)*/
    --white: 255 255 255; /*rgb(255 255 255)*/
    --red: 207 44 30; /*rgb(207 44 30)*/
    --blue: 35 123 255; /*rgb(35 123 255)*/
    --blue-light: 0 91 228; /*rgb(0 91 228)*/
    --blue-dark: 4 36 106; /*rgb(4 36 106)*/
}